/.github export-ignore
/.github/** export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/phpcs.xml.dist export-ignore
/docs export-ignore
/docs/** export-ignore
/blueprint.json export-ignore
/preview.html export-ignore
/README.md export-ignore
/hotel.jpg export-ignore
/restaurant.jpg export-ignore
/podglad-*.png export-ignore
/slack-*.png export-ignore
